
@{
    ViewBag.Title = "Example_5";
}

<h2>Övning 5</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Vi ska nu bara ha en knapp för att skicka vår request och den ska skickas
            till <em>api/loremtexts/comma</em>. Svaret som vi får tillbaks som en
            textsträng där varje ord är separerat med kommatecken, ska vi göra om till en
            array. Använd
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split">
                split()
            </a> för att få en array med ett ord per element utan kommatecken.
            Loopa sedan igenom arrayen och lägg till varje ord som en egen punkt i en
            oordnad punktlista.
        </p>
        <div>
            @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link" })
        </div>
        <br /><br />
        <!--Under här skrivs övningen-->

     <style>
            /* din css här, tänk på att använda klasser och id för att
                inte krocka med annan css.
            */
        </style>


        <!--html här-->
        <div id="here">

        </div>

        <script>
            
                fetch('http://localhost:62818/api/loremtexts', {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                    .then(function (response) {
                        if (response.status === 200 || response.status === 403) {
                            return response.text().then(function (text) {

                                $("#here").append("<p>" + text + "</p>");

                            });
                        } 
                    })
                    .catch(function (err) {
                        console.log('Fetch Error :-S', err);
                    });
            
        </script>
    

        <!--Slut på kod-->


    </div>
    <div class="col-md-4">
        <h3>Tips</h3>
        <p>
            Exempel på <i>split</i>:
        </p><p>
            <img src="http://i.imgur.com/gHoZMZd.png" alt="gHoZMZd.png">
        </p><p>
            Vi ser i exemplet ovan att split är en funktion vi kan anropa på en textsträng och den returnerar en array. Invärdet till split är en textsträng som visar vad ska split dela på. I exemplet har vi "," för att dela på kommatecken.
        </p>
    </div>
</div>