
@{
    ViewBag.Title = "Example_4";
}

<h2>Övning 4</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Utgå ifrån koden ifrån förra uppgiften. Vi ska nu anropa<!--EDIT--> lorem_text_slow.php istället i vår request. När knappen klickas ska knappen och textfältet inaktiveras och en gif som visar att sidan laddar svaret ska visas. När svaret kommet tillbaks från servern tas gif:en bort, formuläret aktiveras och svaret visas precis som i förra uppgiften.<br /><br />
            Exempel på gif nedan. Använd den eller någon annan du hittar som du tycker passar bra.
        </p>
    </div>
</div>
<img src="http://i.imgur.com/yM5pI7W.gif" />
<div>
    @Html.ActionLink("Tillbaka till övningarna", "Index")
</div>
<!--Under här skrivs övningen-->

<style>
    /* din css här */
</style>


<!--html här-->
<div id="here"></div>



<script type="text/javascript">

    var request = new XMLHttpRequest();

    request.onreadystatechange = function () {

        console.log("readyState:" + request.readyState);
        console.log("status:" + request.status);
        console.log("responseText:" + request.responseText);
        console.log("-----");

        if ((request.readyState === 4) && (request.status === 200)) {
            document.getElementById('here').innerHTML = request.responseText;
        }
    }
    $(document).ready(function () {

        // mer kod här
        //Måste redigeras	request.open('GET', 'http://mardby.se/AJK15G/lorem_text.php');

        request.send();
    });


</script>