
@{
    ViewBag.Title = "Example_2";
}

<h2>Övning 2</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Utgå ifrån koden nedan som du ser i 'Example_2.cshtml' i View mappen,
            fast skicka requesten till <em>api/loremtexts</em> Lägg till en query
            string på http-requesten med nyckel <em>numberOfWords</em>
            och värde 10. Varje gång man klickar på knappen så sker requesten precis som
            innan men vi lägger nu till svaret som ett list item i en oordnad lista.
        </p>
        <div>
            @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link"})
        </div>
        <br /><br />


        <!--Under här skrivs övningen-->
        
        <style>
                      /* din css här, tänk på att använda klasser och id för att
                inte krocka med annan css.
            */
        </style>


        <!--html här-->
        <div id="here"></div>



        <script type="text/javascript">

            var request = new XMLHttpRequest();

            request.onreadystatechange = function () {

                console.log("readyState:" + request.readyState);
                console.log("status:" + request.status);
                console.log("responseText:" + request.responseText);
                console.log("-----");

                if ((request.readyState === 4) && (request.status === 200)) {
                    document.getElementById('here').innerHTML = request.responseText;
                }
                else if (request.status === 403 && request.readyState === 4) {
                    $("#here").append("<p>" + request.responseText + "</p>");
                }
            }
            $(document).ready(function () {

                // mer kod här
                
                request.open('GET', 'http://localhost:62818/api/loremtexts');
                request.setRequestHeader("apikey", "Nyckel HÄR");
                request.send();
            });


        </script>


        <!--Slut på kod-->


    </div>
    <div class="col-md-4">
        <h3>Tips</h3>
        <ol>
            <li>
                Lägg till en tom ul-tagg i bodyn som du sedan kan lägga till li-taggar med request.responseText i
            </li>
            <li>
                Du vill ändra request.open från att ha url:en i förra uppgiften till att ha <em>http://localhost:62818/api/loremtexts?numberOfWords=10</em>
            </li>
            <li>
                <a rel="nofollow" class="external text" href="https://api.jquery.com/append/">.append()</a>
            </li>
        </ol>       
        <iframe width="350" height="350" src="https://www.youtube.com/embed/NUy8Th_1DII" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>