
@{
    ViewBag.Title = "Example_4";
}

<h2>Övning 4</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Utgå ifrån koden ifrån förra uppgiften. Vi ska nu anropa <em>api/loremtexts/slow</em> istället i vår request. När knappen klickas ska knappen och textfältet inaktiveras och en gif som visar att sidan laddar svaret ska visas. När svaret kommet tillbaks från servern tas gif:en bort, formuläret aktiveras och svaret visas precis som i förra uppgiften.<br /><br />
            Exempel på gif nedan. Använd den eller någon annan du hittar som du tycker passar bra.
        </p>
        <p>http://i.imgur.com/yM5pI7W.gif</p>
        <div>
            @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link" })
        </div>
        <br /><br />
        <!--Under här skrivs övningen-->

        <style>
                /* din css här, tänk på att använda klasser och id för att
                inte krocka med annan css.
            */
        </style>


        <!--html här-->
        <div id="here"></div>



        <script>

            fetch('http://localhost:62818/api/loremtexts', {
                method: 'get',
                headers: {
                    'apikey': ''
                },
            })
                .then(function (response) {
                    if (response.status === 200) {
                        return response.text().then(function (text) {

                            $("#here").append("<p>" + text + "</p>");

                        });
                    } else if (response.status === 403) {
                        response.text().then(function (text) {

                            $("#here").append("<p>" + text + "</p>");

                        });
                    }
                })
                .catch(function (err) {
                    console.log('Fetch Error :-S', err);
                });

        </script>


        <!--Slut på kod-->
    </div>
    <div class="col-md-4">
        <h3>Tips</h3>
        <ul>
            <li>
                $("input").prop('disabled', true); och sedan samma anrop fast false för att aktivera igen
            </li>
            <li>
                med rätt selektor kan du inaktivera alla taggar på en gång
            </li>
        </ul>
    </div>
</div>