
@{
    ViewBag.Title = "Example_6";
}

<h2>Övning 6</h2>
<div class="row">
    <div class="col-md-8">
        <p>Vi ska nu ha två knappar, en rubrik, en kursiv ingress, en paragraf med text och en bild. På knapparna står det Prev och Next. När sidan först laddas finns alla övriga taggar men innehåller enbart <em>no data loaded</em> först.</p>
        <ul>
            <li>
                Först gången användaren klickar på Next så ska en request skickas till <em>http://localhost:<'PORT'>/api/loremtexts/animals?animalid</em> med query string animalid=1
            </li>
            <li>
                Nästa gång användaren klickar på Next så skickas request på samma url men värdet i query strängen ska ökas med ett
            </li>
            <li>
                Istället för att skicka på animalid=6 så använd animalid=1 igen
            </li>
            <li>
                När användaren klickar på Prev så ska samma sak som med Next hända förutom att anropets query string ska ha minskat värdet (animalid=3 blir animalid=2 osv och istället för animalid=-1 så animalid=5   )
            </li>
        </ul>
        <p>Responsen du får är en textsträng som du behöver dela upp i en array (split på *) där sedan första elementet använder du som rubrik, andra elementet är kursiv ingress, tredje elementet är en paragraf och fjärde elementet är en bild-url.</p>
        <div>
            @Html.ActionLink("Tillbaka till övningarna", "Index")
        </div>
        <br /><br />
        <!--Under här skrivs övningen-->

    <style>
        /* din css här, tänk på att använda klasser och id för att
            inte krocka med annan css.
        */
    </style>


    <!--html här-->
    <div id="here"></div>



    <script type="text/javascript">

        var request = new XMLHttpRequest();

        request.onreadystatechange = function () {

            console.log("readyState:" + request.readyState);
            console.log("status:" + request.status);
            console.log("responseText:" + request.responseText);
            console.log("-----");

            if ((request.readyState === 4) && (request.status === 200)) {
                document.getElementById('here').innerHTML = request.responseText;
            }
            else if (request.status === 403 && request.readyState === 4) {
                $("#here").append("<p>" + request.responseText + "</p>");
            }
        }
        $(document).ready(function () {

            // mer kod här
            //Glöm inte ändra portnr till din egen!
            request.open('GET', 'http://localhost:<PORTNR>/api/loremtexts');
            request.setRequestHeader("apikey", "Nyckel HÄR");
            request.send();
        });


    </script>


        <!--Slut på kod-->


    </div>
    <div class="col-md-4">
        <h3>Tips</h3>
        <ul>
            <li>
                Du kommer behöva en variabel för att lagra vilket djur vi är på, en sorts state för sidan
            </li>
            <li>
                Den variabeln ökas resp minskas när man klickar på knapparna
            </li>
            <li>
                Det kommer behövas en if-sats för att kolla så inte state-variabeln blir för stor eller för liten
            </li>
        </ul>
    </div>
</div>


