
@{
    ViewBag.Title = "Example_4";
}

<h2>Övning 4</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Requesten i denna uppgift ska gå till <a rel="nofollow" class="external free" href="http://localhost:62818/api/jsonapi/simple_json">http://localhost:62818/api/jsonapi/simple_json</a>
        </p><p>
            Du ska göra en sida med en länk: About
        </p><p>
            När användaren klickar på About så ska ska innehållet i elementet <i>about</i> i det JSON-objekt vi får ifrån servern visas upp.
        </p>

    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link" })
</div><br /><br />
<!--Under här skrivs övningen-->

<style>
    /* din css här */
</style>


<!--html här-->
<button class="btn">Ladda JSON</button>
<ul id="here"></ul>


<script>
    $(".btn").click(function () {
        fetch("http://localhost:62818/api/jsonapi/lorem_json_array", {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
                'apikey': ''
            },
        })
            .then(function (response) {
                if (response.status === 200) {
                    return response.json().then(function (json) {
                        let arr = json;
                        for (let i in arr) {
                            $("#here").append("<li>" + arr[i] + "</li>");
                        }
                    });


                }
                else if (response.status === 403) {
                    return response.text().then(function (text) {
                        $("#here").append("<li>" + text + "</li>");
                    });
                }
            })
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
    });
</script>