
@{
    ViewBag.Title = "Example_4";
}

<h2>Övning 4</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Requesten i denna uppgift ska gå till <a rel="nofollow" class="external free" href="http://localhost:62818/api/jsonapi/simple_json">http://localhost:62818/api/jsonapi/simple_json</a>
        </p><p>
            Du ska göra en sida med en länk: About
        </p><p>
            När användaren klickar på About så ska ska innehållet i elementet <i>about</i> i det JSON-objekt vi får ifrån servern visas upp.
        </p>

    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link" })
</div><br /><br />
<!--Under här skrivs övningen-->

<style>
    /* din css här */
</style>


<!--html här-->
<button>Ladda JSON</button>
<ul></ul>
<div id="here"></div>

<script type="text/javascript">

    var request = new XMLHttpRequest();

    request.onreadystatechange = function () {

        if ((request.readyState === 4) && (request.status === 200)) {
            var arr = JSON.parse(request.responseText);
            for (var i in arr) {
                $("ul").append("<li>" + arr[i] + "</li>");
            }
        }
        else if (request.status === 403 && request.readyState === 4) {
            $("#here").append("<p>" + request.responseText + "</p>");
        }
    }

    $(document).ready(function () {
        $("button").click(function () {
            request.open('GET', 'http://localhost:62818/api/jsonapi');
            request.setRequestHeader("apikey", "Nyckel HÄR");
            request.send();
        });
    });

</script>