
@{
    ViewBag.Title = "Example_3";
}

<h2>Övning 3</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Requesten i denna uppgift ska gå till <!--EDIT--><a rel="nofollow" class="external free" href="http://mardby.se/AJK15G/dice_json_array.php">http://mardby.se/AJK15G/dice_json_array.php</a> och på denna url kan vi lägga på en query string med nyckel <i>numberOfDice</i>.
        </p><p>
            Du ska göra ett formulär med ett textfält och en knapp som låter användaren välja hur många tärningar som ska slås. Resultatet ska sorteras och läggas till tidigare visade resultat.
        </p>
    </div>
</div>
<div>
    @Html.ActionLink("Tillbaka till övningarna", "Index")
</div><br /><br />
<!--Under här skrivs övningen-->

<style>
    /* din css här */
</style>


<!--html här-->
<button>Ladda JSON</button>
<ul></ul>

<script type="text/javascript">

    var request = new XMLHttpRequest();

    request.onreadystatechange = function () {

        if ((request.readyState === 4) && (request.status === 200)) {
            var arr = JSON.parse(request.responseText);
            for (var i in arr) {
                $("ul").append("<li>" + arr[i] + "</li>");
            }
        }
    }

    $(document).ready(function () {
        $("button").click(function () {
            //EDIT  request.open('GET', 'http://mardby.se/AJK15G/lorem_json_array.php');
            request.send();
        });
    });

</script>


