
@{
    ViewBag.Title = "Example_8";
}

<h2>Övning 8</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Vi ska nu göra en variant på blogg-uppgiften. Denna gång ska vi prata med <a rel="nofollow" class="external free" href="http://localhost:62818/api/jsonapi/blog_json">http://localhost:62818/api/jsonapi/blog_json</a>
        </p><p>
            Vad uppgiften ska innehålla kan du se via request urlen. Vi ska nu inte visa alla blogginlägg på en gång däremot. Istället visas först en lista på alla titlar. När man klickar på en titel så glider hela inlägget fram.
        </p>

    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link" })
</div><br /><br />
<!--Under här skrivs övningen-->

<style>
    .btn {
        white-space: pre;
        text-align: center;
        width: 100%;
        display: inline-block;
    }

    #main > div div {
        display: none;
    }

    #main > div > div p {
        width: 50%;
    }

    .tags > li {
        float: left;
        border-radius: 25px;
        text-align: center;
        width: 20%;
        list-style-type: none;
        background-color: aquamarine;
    }
</style>


<!--html här-->
<div id="main">

</div>

<script>

    function toggle_visibility(i, id) {

        let e = document.getElementById(id);
        if (e.style.display == 'block')
            $('.div' + i).css('display', 'none');
        else
            $('.div' + i).css('display', 'block');
    }

    fetch("http://localhost:62818/api/jsonapi/blog_json", {
        method: 'get',
        headers: {
            'Content-Type': 'application/json',
            'apikey': 'Studentnyckel12'
        },
    })
        .then(function (response) {
            if (response.status === 200) {

                return response.json().then(function (json) {
                    let blogposts = json.blog_posts;

                    let vis = "";
                    for (let i = 0; i < blogposts.length; i++) {
                        vis = "'vis" + i + "'";
                        $("#main").append('<div>' +
                            '<a class="btn btn-info" href="#" onclick="toggle_visibility(' + i + ',' + vis + ');return false;">' + blogposts[i].title + "</a>" + '<div class="div' + i + '" id=vis' + i + '>' +
                            '<h4>' + blogposts[i].date + "</h4>" +
                            '<p>' + blogposts[i].text + "</p>" +
                            '<em>' + blogposts[i].author + "</em>" +
                            '<ul id="tags' + i + '" class="tags"></ul>' +
                            "</div>" +
                            "</div>"
                        );

                        for (let j = 0; j < blogposts[i].tags.length; j++) {

                            $("#tags" + i).append(

                                '<li>' + blogposts[i].tags[j].TagName + "</li>"
                            );

                        }

                    }

                });
            } else if (response.status === 403) {
                return response.text().then(function (text) {

                    $("#main").append("<p>" + text + "</p>");

                });
            }

        })
        .catch(function (err) {
            console.log('Fetch Error :-S', err);
        });
</script>