
@{
    ViewBag.Title = "Example_2";
}

<h2>Övning 2</h2>
<div class="row">
    <div class="col-md-8">
        <p>
            Requesten i denna uppgift ska gå till <a rel="nofollow" class="external free" href="http://localhost:62818/api/jsonapi/lorem_json_array">http://localhost:62818/api/jsonapi/lorem_json_array</a> och på denna url kan vi lägga på en query string med nyckel <i>numberOfWords</i>.
        </p><p>
            Du ska göra:
        </p>

    </div>
</div>
<ul>
    <li>
        fem knappar med sifforna 1-5 på
    </li>
    <li>
        under varje knapp finns en oordnad tom lista
    </li>
    <li>
        när man klickar på en knapp så hämtas så många ord och visas upp under knappen (tidigare punkter i listan tas bort)
    </li>
</ul>
<p>
    Utmaning: Skriv din kod så att du på <b>ett</b> ställe kan ändra hur många knappar som skapas!
</p>
<div>
    @Html.ActionLink("Tillbaka till övningarna", "Index", new { area = "" }, new { @class = "link" })
</div><br /><br />
<!--Under här skrivs övningen-->

<style>
    /* din css här */
</style>


<!--html här-->
<button>Ladda JSON</button>
<ul></ul>
<div id="here"></div>

<script type="text/javascript">

    var request = new XMLHttpRequest();

    request.onreadystatechange = function () {

        if ((request.readyState === 4) && (request.status === 200)) {
            var arr = JSON.parse(request.responseText);
            for (var i in arr) {
                $("ul").append("<li>" + arr[i] + "</li>");
            }
        }
        else if (request.status === 403 && request.readyState === 4) {
            $("#here").append("<p>" + request.responseText + "</p>");
        }
    }

    $(document).ready(function () {
        $("button").click(function () {
            request.open('GET', 'http://localhost:62818/api/jsonapi');
            request.setRequestHeader("apikey", "Nyckel HÄR");
            request.send();
        });
    });

</script>


