
@{
    ViewBag.Title = "AjaxTextFacit";
}

<h2>Ajax med Texter</h2>

<p>
    Detta är lösningsförslag. Det går så klart lösa uppgifterna på flera olika sätt.
</p>
<div id="link1"></div>
<br /><br /><br />
<h3>Lösning 1</h3>
<pre>
  &lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;title&gt;Övning 1&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;button class=&quot;btn&quot;&gt;Ladda data&lt;/button&gt;
    &lt;div id=&quot;here&quot;&gt;

    &lt;/div&gt;

    &lt;script&gt;
        $(&quot;.btn&quot;).click(function() {
            fetch('http://localhost:60658/api/loremtexts', {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                .then(function(response) {
                    if (response.status === 200 || response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;#here&quot;).append(&quot;&lt;p&gt;&quot; + text + &quot;&lt;/p&gt;&quot;);

                        });
                    }
                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link2"></div>
<br /><br /><br />
<h3>Lösning 2</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;title&gt;Övning 2&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;button class=&quot;btn&quot;&gt;Ladda data&lt;/button&gt;
    &lt;ul id=&quot;here&quot;&gt;&lt;/ul&gt;

    &lt;script&gt;
        $(&quot;.btn&quot;).click(function() {
            fetch('http://localhost:62818/api/loremtexts?numberOfWords=10', {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                .then(function(response) {
                    if (response.status === 200 || response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;#here&quot;).append(&quot;&lt;li&gt;&quot; + text + &quot;&lt;/li&gt;&quot;);

                        });
                    }
                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link3"></div>
<br /><br /><br />
<h3>Lösning 3</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;title&gt;Övning 3&lt;/title&gt;
    &lt;style type=&quot;text/css&quot;&gt;
        th,
        td {
            border: 1px solid lightblue;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;form&gt;
        &lt;input type=&quot;text&quot; id=&quot;in&quot;&gt;

        &lt;button class=&quot;btn&quot;&gt;Ladda data&lt;/button&gt;
    &lt;/form&gt;
    &lt;table id=&quot;here&quot;&gt;
        &lt;tr&gt;
            &lt;th&gt;numberOfWords&lt;/th&gt;
            &lt;th&gt;responseText&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/table&gt;

    &lt;script&gt;
        let input = 0;

        $(&quot;.btn&quot;).click(function(evt) {
            evt.preventDefault();
            input = $(&quot;#in&quot;).val();
            fetch('http://localhost:62818/api/loremtexts?numberOfWords=' + input, {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                .then(function(response) {
                    if (response.status === 200 || response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;#here&quot;).append(&quot;&lt;tr&gt;&lt;td&gt;&quot; + input + &quot;&lt;/td&gt;&lt;td&gt;&quot; + text + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;);

                        });
                    }
                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link4"></div>
<br /><br /><br />
<h3>Lösning 4</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;title&gt;Övning 4&lt;/title&gt;
	&lt;style type=&quot;text/css&quot;&gt;
		th, td {
			border: 1px solid lightblue;
		}
	&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
&lt;form&gt;
		&lt;input type=&quot;text&quot;&gt;

    &lt;button class=&quot;btn&quot;&gt;Ladda data&lt;/button&gt;
	&lt;/form&gt;
   	&lt;table id=&quot;here&quot;&gt;
		&lt;tr&gt;&lt;th&gt;responseText&lt;/th&gt;&lt;/tr&gt;
	&lt;/table&gt;
&lt;img src=&quot;http://i.imgur.com/yM5pI7W.gif&quot; /&gt;
           &lt;script&gt;
            $(&quot;img&quot;).hide();

            $(&quot;.btn&quot;).click(function (evt) {
                evt.preventDefault();
                $(&quot;img&quot;).show();
                $(&quot;button&quot;).prop('disabled', true);
                $(&quot;input&quot;).prop('disabled', true);


                fetch('http://localhost:62818/api/loremtexts/slow', {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                    .then(function (response) {
                        if (response.status === 200 || response.status === 403) {
                            return response.text().then(function (text) {
                                $(&quot;#here&quot;).append(&quot;&lt;tr&gt;&lt;td&gt;&quot; + text + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;);

                                $(&quot;img&quot;).hide();
                                $(&quot;button&quot;).prop('disabled', false);
                                $(&quot;input&quot;).prop('disabled', false);

                            });
                        }
                    })
                    .catch(function (err) {
                        console.log('Fetch Error :-S', err);
                    });
            });
        &lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;

</pre>
<div id="link5"></div>
<br /><br /><br />
<h3>Lösning 5</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;title&gt;&Ouml;vning 5&lt;/title&gt;
    &lt;style type=&quot;text/css&quot;&gt;
        th,
        td {
            border: 1px solid lightblue;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;

    &lt;button class=&quot;btn&quot;&gt;Ladda data&lt;/button&gt;

    &lt;ul id=&quot;here&quot;&gt;&lt;/ul&gt;
    &lt;script&gt;
        $(&quot;.btn&quot;).click(function(evt) {
            evt.preventDefault();

            fetch('http://localhost:62818/api/loremtexts/comma', {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                .then(function(response) {
                    if (response.status === 200 || response.status === 403) {
                        return response.text().then(function(text) {
                            let arr = text.split(&quot;,&quot;);
                            for (i in arr)
                                $(&quot;#here&quot;).append(&quot;&lt;li&gt;&quot; + arr[i] + &quot;&lt;/li&gt;&quot;);

                        });
                    }
                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link6"></div>
<br /><br /><br />
<h3>Lösning 6</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;UTF-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
    &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;ie=edge&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;title&gt;&Ouml;vning 6&lt;/title&gt;

&lt;/head&gt;

&lt;body&gt;

    &lt;button class=&quot;btn&quot; id=&quot;prev&quot;&gt;Prev&lt;/button&gt;
    &lt;button class=&quot;btn&quot; id=&quot;next&quot;&gt;Next&lt;/button&gt;
    &lt;h1&gt;no data loaded&lt;/h1&gt;
    &lt;em&gt;no data loaded&lt;/em&gt;
    &lt;p id=&quot;p&quot;&gt;no data loaded&lt;/p&gt;
    &lt;img src=&quot;#&quot;&gt;
    &lt;script&gt;
        let sendRequest = function(a) {
            fetch('http://localhost:62818/api/loremtexts/animals?animalid=' + a, {
                    method: 'get',
                    headers: new Headers({
                        'apikey': ''
                    })
                })
                .then(function(response) {
                    console.log(a);
                    if (response.status === 200 || response.status === 403) {
                        return response.text().then(function(text) {
                            let arr = text.split(&quot;*&quot;);
                            $(&quot;h1&quot;).html(arr[0]);
                            $(&quot;em&quot;).html(arr[1]);
                            $(&quot;#p&quot;).html(arr[2]);
                            $(&quot;img&quot;).attr(&quot;src&quot;, arr[3]);

                        });
                    }
                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        };
        let animal = 1;

        $(&quot;#prev&quot;).click(function() {
            animal--;
            if (animal &lt; 1)
                animal = 5;
            sendRequest(animal);
        });
        $(&quot;#next&quot;).click(function() {
            animal++;
            if (animal &gt; 5)
                animal = 1;
            sendRequest(animal);
        });
    &lt;/script&gt;

&lt;/body&gt;

&lt;/html&gt;
</pre>

