
@{
    ViewBag.Title = "AjaxJsonTips";
}

<h2>Ajax med JSON</h2>
<h3>Tips 3</h3>
<ul>
    <li>
        <a rel="nofollow" class="external text" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort">.sort()</a> (MDN)
    </li>
</ul>
