
@{
    ViewBag.Title = "AjaxJsonFacit";
}

<h2>Ajax med JSON</h2>
<p>
    Detta är lösningsförslag. Det går så klart lösa uppgifterna på flera olika sätt.
</p>
<div id="link1"></div>
<br /><br /><br />
<h3>Lösning 1</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head>
	&lt;meta charset=&quot;utf-8&quot;&gt;
	&lt;title&gt;&Ouml;va AJAX JSON 1&lt;/title&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;
	
	&lt;style&gt;
		th,td {
			border: 1px solid lightgreen;
		}
	&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
       
	&lt;input type=&quot;text&quot;&gt;
    &lt;button class=&quot;btn&quot;&gt;Ladda data&lt;/button&gt;	
    &lt;table&gt;
		&lt;tr&gt;&lt;th&gt;numberOfWOrds&lt;/th&gt;&lt;th&gt;responseText&lt;/th&gt;&lt;/tr&gt;
    &lt;/table&gt;
    &lt;script&gt;
            $(&quot;.btn&quot;).click(function() {
                
                let x = $(&quot;input&quot;).val();
                fetch(&quot;http://localhost:62818/api/jsonapi/lorem_json_array?numberOfWords=&quot; + x, {
                    method: 'get',
                    headers: {
                        'Content-Type':'application/json',
                        'apikey': ''
                    },
                })
                .then (function(response) {
                    if(response.status === 200)
                    {
                        
                        return response.json().then(function(json) {
                            let arr = json;
                            let list = &quot;&lt;ul&gt;&quot;;

                            for(let i in arr)
                            list += &quot;&lt;li&gt;&quot; + arr[i] + &quot;&lt;/li&gt;&quot;;

                        list += &quot;&lt;/ul&gt;&quot;;
                        $(&quot;table&quot;).append(&quot;&lt;tr&gt;&lt;td&gt;&quot; + x + &quot;&lt;/td&gt;&lt;td&gt;&quot; + list + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;);

                                });
                    }
                    else if (response.status === 403) {
                    return response.text().then(function (text) {
                   
                        $(&quot;table&quot;).append(&quot;&lt;tr&gt;&lt;td&gt;&quot; + x + &quot;&lt;/td&gt;&lt;td&gt;&quot; + text + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;);

                    });
                }
                                         
                })
                .catch(function(err) {
                console.log('Fetch Error :-S', err);
            });
            });
        
    &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
<div id="link2"></div>
<br /><br /><br />
<h3>Lösning 2</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head>
&lt;meta charset=&quot;utf-8&quot;&gt;
&lt;title&gt;&Ouml;va AJAX JSON 2&lt;/title&gt;
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

&lt;style&gt;
    td {
        border: 1px solid lightblue;
    }
    button {
        width: 140px;
    }
&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;table&gt;
        &lt;tr&gt;
            &lt;td&gt;
                &lt;button&gt;1&lt;/button&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;button&gt;2&lt;/button&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;button&gt;3&lt;/button&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;button&gt;4&lt;/button&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;button&gt;5&lt;/button&gt;
            &lt;/td&gt;
        &lt;/tr&gt;

        &lt;tr&gt;
            &lt;td&gt;
                &lt;ul id=&quot;u1&quot;&gt;&lt;/ul&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;ul id=&quot;u2&quot;&gt;&lt;/ul&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;ul id=&quot;u3&quot;&gt;&lt;/ul&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;ul id=&quot;u4&quot;&gt;&lt;/ul&gt;
            &lt;/td&gt;
            &lt;td&gt;
                &lt;ul id=&quot;u5&quot;&gt;&lt;/ul&gt;
            &lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
    &lt;script&gt;
        $(&quot;button&quot;).addClass('btn').click(function() {

            let x = $(this).text();
            fetch(&quot;http://localhost:62818/api/jsonapi/lorem_json_array?numberOfWords=&quot; + x, {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                        'apikey': ''
                    },
                })
                .then(function(response) {
                    if (response.status === 200) {

                        return response.json().then(function(json) {
                            let arr = json;
                            let list = &quot;&quot;;

                            for (let i in arr)
                                list += &quot;&lt;li&gt;&quot; + arr[i] + &quot;&lt;/li&gt;&quot;;

                            let thisUl = &quot;#u&quot; + x;
                            $(thisUl).html(list);
                        });
                    } else if (response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;table&quot;).append(&quot;&lt;tr&gt;&lt;td&gt;&quot; + x + &quot;&lt;/td&gt;&lt;td&gt;&quot; + text + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;);

                        });
                    }

                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link3"></div>
<br /><br /><br />
<h3>Lösning 2 - Utmaning</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
&lt;meta charset=&quot;utf-8&quot;&gt;
&lt;title&gt;&Ouml;va AJAX JSON 1&lt;/title&gt;
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

&lt;style&gt;
    td {
        border: 1px solid lightblue;
    }
    button {
        width: 140px;
    }
&lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;table&gt;
     
    &lt;/table&gt;
    &lt;script&gt;
        // change this variable to the number of buttons you want!
        let numButtons = 5;
        let buttons = &quot;&lt;tr&gt;&quot;;
        let uls = &quot;&lt;tr&gt;&quot;;
        for (let i = 1; i &lt;= numButtons; i++) {
            buttons += &quot;&lt;td&gt;&lt;button&gt;&quot; + i + &quot;&lt;/button&gt;&lt;/td&gt;&quot;;
            uls += &quot;&lt;td&gt;&lt;ul id=u&quot; + i + &quot;&gt;&lt;/ul&gt;&lt;/td&gt;&quot;;
        }
        buttons += &quot;&lt;/tr&gt;&quot;;
        uls += &quot;&lt;/tr&gt;&quot;;
        $(&quot;table&quot;).append(buttons + uls);

        $(&quot;button&quot;).addClass('btn').click(function() {

            let x = $(this).text();
            fetch(&quot;http://localhost:62818/api/jsonapi/lorem_json_array?numberOfWords=&quot; + x, {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                        'apikey': ''
                    },
                })
                .then(function(response) {
                    if (response.status === 200) {

                        return response.json().then(function(json) {
                            let arr = json;
                            let list = &quot;&quot;;

                            for (let i in arr)
                                list += &quot;&lt;li&gt;&quot; + arr[i] + &quot;&lt;/li&gt;&quot;;

                            let thisUl = &quot;#u&quot; + x;
                            $(thisUl).html(list);
                        });
                    } else if (response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;table&quot;).append(&quot;&lt;tr&gt;&lt;td&gt;&quot; + x + &quot;&lt;/td&gt;&lt;td&gt;&quot; + text + &quot;&lt;/td&gt;&lt;/tr&gt;&quot;);

                        });
                    }

                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link4"></div>
<br /><br /><br />
<h3>Lösning 3</h3>
<pre>
</pre>
<div id="link5"></div>
<br /><br /><br />
<h3>Lösning 4</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;&Ouml;va AJAX JSON 4&lt;/title&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;style&gt;
        #main div {
            width: 50%;
            border: 2px solid blue;
            margin-bottom: 5px;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;About&lt;/a&gt;
    &lt;div id=&quot;main&quot;&gt;&lt;/div&gt;
    &lt;script&gt;

        $(&quot;.link&quot;).click(function(e) {

            e.preventDefault();
            fetch(&quot;http://localhost:62818/api/jsonapi/simple_json&quot;, {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                        'apikey': ''
                    },
                })
                .then(function(response) {
                    if (response.status === 200) {

                        return response.json().then(function(json) {
                            let blogposts = json;
                           
                                $(&quot;#main&quot;).append(                             
                                    &quot;&lt;p&gt;&quot; + blogposts.About + &quot;&lt;/p&gt;&quot;
                                   );
                            
                        });
                    } else if (response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;#main&quot;).append(&quot;&lt;p&gt;&quot; + text + &quot;&lt;/p&gt;&quot;);

                        });
                    }

                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link6"></div>
<br /><br /><br />
<h3>Lösning 5</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;&Ouml;va AJAX JSON 5&lt;/title&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;style&gt;
        #main div {
            width: 50%;
            border: 2px solid blue;
            margin-bottom: 5px;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;a href=&quot;#&quot; id=&quot;link1&quot;&gt;About&lt;/a&gt;
    &lt;a href=&quot;#&quot; id=&quot;link2&quot;&gt;Author&lt;/a&gt;
    &lt;div id=&quot;main&quot;&gt;&lt;/div&gt;
    &lt;script&gt;
        fetch(&quot;http://localhost:62818/api/jsonapi/simple_json&quot;, {
                method: 'get',
                headers: {
                    'Content-Type': 'application/json',
                    'apikey': ''
                },
            })
            .then(function(response) {
                if (response.status === 200) {

                    return response.json().then(function(json) {
                        let blogposts = json;
                        $(&quot;#link1&quot;).addClass(&quot;link&quot;).click(function(e) {

                            e.preventDefault();
                            $(&quot;#main&quot;).append(
                                &quot;&lt;p&gt;&quot; + blogposts.About + &quot;&lt;/p&gt;&quot;
                            )
                        })
                        $(&quot;#link2&quot;).addClass(&quot;link&quot;).click(function(e) {

                            e.preventDefault();
                            $(&quot;#main&quot;).append(
                                &quot;&lt;p&gt;&quot; + blogposts.Author + &quot;&lt;/p&gt;&quot;
                            );
                        })
                    });
                } else if (response.status === 403) {
                    return response.text().then(function(text) {

                        $(&quot;#main&quot;).append(&quot;&lt;p&gt;&quot; + text + &quot;&lt;/p&gt;&quot;);

                    });
                }

            })
            .catch(function(err) {
                console.log('Fetch Error :-S', err);
            });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link7"></div>
<br /><br /><br />
<h3>Lösning 6</h3>
<p>
    Jag har <i>inte</i> byggt denna på föregående uppgift för att förenkla/förkorta den.
</p>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;&Ouml;va AJAX JSON 6&lt;/title&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;style&gt;
        #main div {
            width: 50%;
            border: 2px solid blue;
            margin-bottom: 5px;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;Blog&lt;/a&gt;
    &lt;div id=&quot;main&quot;&gt;&lt;/div&gt;
    &lt;script&gt;

        $(&quot;.link&quot;).click(function(e) {

            e.preventDefault();
            fetch(&quot;http://localhost:62818/api/jsonapi/simple_json&quot;, {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                        'apikey': ''
                    },
                })
                .then(function(response) {
                    if (response.status === 200) {

                        return response.json().then(function(json) {
                            let blogposts = json.blog_posts;

                            for (var i in blogposts) {
                                $(&quot;#main&quot;).append(&quot;&lt;div&gt;&quot; +
                                    &quot;&lt;h1&gt;&quot; + blogposts[i].title + &quot;&lt;/h1&gt;&quot; +
                                    &quot;&lt;em&gt;&quot; + blogposts[i].date + &quot;&lt;/em&gt;&quot; +
                                    &quot;&lt;p&gt;&quot; + blogposts[i].text + &quot;&lt;/p&gt;&quot; +
                                    &quot;&lt;/div&gt;&quot;);
                            }
                        });
                    } else if (response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;#main&quot;).append(&quot;&lt;p&gt;&quot; + text + &quot;&lt;/p&gt;&quot;);

                        });
                    }

                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link8"></div>
<br /><br /><br />
<h3>Lösning 7</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;&Ouml;va AJAX JSON 7&lt;/title&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;style&gt;
        #main div {
            width: 100%;
            margin-bottom: 50px;
            display: inline-block;
        }
        
        .tags &gt; li {
            background-color: #4CAF50;
            border-radius: 25px;
            list-style-type: none;
            float: left;
            text-align: center;
            position: relative;
            list-style-type:none;
            background-color: aquamarine;
            width: 20%;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;Blog&lt;/a&gt;

    &lt;div id=&quot;main&quot;&gt;

    &lt;/div&gt;
    &lt;script&gt;
        $(&quot;.link&quot;).click(function(e) {

            e.preventDefault();
            fetch(&quot;http://localhost:62818/api/jsonapi/simple_json&quot;, {
                    method: 'get',
                    headers: {
                        'Content-Type': 'application/json',
                        'apikey': ''
                    },
                })
                .then(function(response) {
                    if (response.status === 200) {

                        return response.json().then(function(json) {
                            let blogposts = json.blog_posts;
                     

                            for (let i in blogposts) {
                                $(&quot;#main&quot;).append('&lt;div&gt;' +
                                    &quot;&lt;h1&gt;&quot; + blogposts[i].title + &quot;&lt;/h1&gt;&quot; +
                                    &quot;&lt;em&gt;&quot; + blogposts[i].date + &quot;&lt;/em&gt;&quot; +
                                    &quot;&lt;p&gt;&quot; + blogposts[i].text + &quot;&lt;/p&gt;&quot; +
                                    '&lt;ul id=&quot;tags'+i+'&quot; class=&quot;tags&quot;&gt;&lt;/ul&gt;'+
                                    &quot;&lt;/div&gt;&quot;
                                );
                                for (let j = 0; j &lt; blogposts[i].tags.length; j++) {                                   

                                    $(&quot;#tags&quot;+i).append(
                                        '&lt;li&gt;' + blogposts[i].tags[j].TagName + &quot;&lt;/li&gt;&quot;
                                    );
                                }

                            }
                        });
                    } else if (response.status === 403) {
                        return response.text().then(function(text) {

                            $(&quot;#main&quot;).append(&quot;&lt;p&gt;&quot; + text + &quot;&lt;/p&gt;&quot;);

                        });
                    }

                })
                .catch(function(err) {
                    console.log('Fetch Error :-S', err);
                });
        });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
</pre>
<div id="link9"></div>
<br /><br /><br />
<h3>Lösning 8</h3>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;

&lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;title&gt;&Ouml;va AJAX JSON 8&lt;/title&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js&quot;&gt;&lt;/script&gt;

    &lt;style&gt;
        .btn {
            white-space: pre;
            text-align: center;
            width:100%;
            display: inline-block;
        }
    
        #main &gt; div div {
            display: none;       
        }
    
        #main &gt; div &gt; div p {
            width: 50%;
        }
    
        .tags &gt; li{
            float: left;
            border-radius: 25px;
            text-align: center;
            width:20%; 
            list-style-type:none;
            background-color: aquamarine;
        }
    &lt;/style&gt;
&lt;/head&gt;

&lt;body&gt;
  

    &lt;div id=&quot;main&quot;&gt;

    &lt;/div&gt;
    
    &lt;script&gt;
    
        function toggle_visibility(i, id) {
    
            let e = document.getElementById(id);
            if (e.style.display == 'block')
                $('.div' + i).css('display', 'none');
            else
                $('.div' + i).css('display', 'block');
        }
    
        fetch(&quot;http://localhost:62818/api/jsonapi/blog_json&quot;, {
            method: 'get',
            headers: {
                'Content-Type': 'application/json',
                'apikey': ''
            },
        })
            .then(function (response) {
                if (response.status === 200) {
    
                    return response.json().then(function (json) {
                        let blogposts = json.blog_posts;
    
                        let vis = &quot;&quot;;
                        for (let i = 0; i &lt; blogposts.length; i++) {
                            vis = &quot;'vis&quot; + i + &quot;'&quot;;
                            $(&quot;#main&quot;).append('&lt;div&gt;' +
                                '&lt;a class=&quot;btn btn-info&quot; href=&quot;#&quot; onclick=&quot;toggle_visibility(' + i + ',' + vis + ');return false;&quot;&gt;' + blogposts[i].title + &quot;&lt;/a&gt;&quot; + '&lt;div class=&quot;div' + i + '&quot; id=vis' + i + '&gt;' +
                                '&lt;h4&gt;' + blogposts[i].date + &quot;&lt;/h4&gt;&quot; +
                                '&lt;p&gt;' + blogposts[i].text + &quot;&lt;/p&gt;&quot; +
                                '&lt;em&gt;' + blogposts[i].author + &quot;&lt;/em&gt;&quot; +
                                '&lt;ul id=&quot;tags'+i+'&quot; class=&quot;tags&quot;&gt;&lt;/ul&gt;'+
                                &quot;&lt;/div&gt;&quot; +
                                &quot;&lt;/div&gt;&quot;
                            );
    
                            for (let j = 0; j &lt; blogposts[i].tags.length; j++) {
    
                                $(&quot;#tags&quot;+i).append(
                                   
                                    '&lt;li&gt;' + blogposts[i].tags[j].TagName + &quot;&lt;/li&gt;&quot;
                                );
    
                            }
    
                        }
    
                    });
                } else if (response.status === 403) {
                    return response.text().then(function (text) {
    
                        $(&quot;#main&quot;).append(&quot;&lt;p&gt;&quot; + text + &quot;&lt;/p&gt;&quot;);
    
                    });
                }
    
            })
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
    &lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;

</pre>
<div id="link10"></div>
<br /><br /><br />
<h3>Lösning 9</h3>
<pre>
</pre>
<div id="link11"></div>
<br /><br /><br />
<h3>Lösning 10</h3>
<pre>
</pre>
<div id="link12"></div>
<br /><br /><br />
<h3>Lösning 11</h3>
<pre>
</pre>
<div id="link13"></div>
<br /><br /><br />
<h3>Lösning 12</h3>
<pre>
</pre>