
@{
    ViewBag.Title = "AjaxTextTips";
}

<h2>Ajax med texter</h2>

<h3>Tips 1</h3>
<ol>
    <li>
        Använd jQuery! Du vet hur man gör en button-click-event-funktion i jQuery
    </li>
    <li>
        <a rel="nofollow" class="external text" href="https://api.jquery.com/click/">.click()</a>
    </li>
</ol>
<object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/_odah10wzGU&amp;fs=1"><param name="wmode" value="transparent"><embed type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" width="425" height="350" src="http://www.youtube.com/v/_odah10wzGU&amp;fs=1"></object>

<h3>Tips 2</h3>
<ol>
    <li>
        Lägg till en tom ul-tagg i bodyn som du sedan kan lägga till li-taggar med request.responseText i
    </li>
    <li>
      <!--EDIT-->  Du vill ändra request.open från att ha url:en i förra uppgiften till att ha <a rel="nofollow" class="external free" href="http://mardby.se/AJK15G/lorem_text_random.php?numberOfWords=10">http://mardby.se/AJK15G/lorem_text_random.php?numberOfWords=10</a>
    </li>
    <li>
        <a rel="nofollow" class="external text" href="https://api.jquery.com/append/">.append()</a>
    </li>
</ol>
<object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/NUy8Th_1DII&amp;fs=1"><param name="wmode" value="transparent"><embed type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" width="425" height="350" src="http://www.youtube.com/v/NUy8Th_1DII&amp;fs=1"></object>

<h3>Tips 3</h3>
<ol>
    <li>
        <a rel="nofollow" class="external text" href="https://api.jquery.com/submit/">.submit()</a>
    </li>
    <li>
        glöm inte preventDefault <b>om</b> du har form-taggar
    </li>
</ol>
<object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/llE_gkYnENI&amp;fs=1"><param name="wmode" value="transparent"><embed type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" width="425" height="350" src="http://www.youtube.com/v/llE_gkYnENI&amp;fs=1"></object>

<h3>Tips 4</h3>
<ul>
    <li>
        $("input").prop('disabled', true); och sedan samma anrop fast false för att aktivera igen
    </li>
    <li>
        med rätt selektor kan du inaktivera alla taggar på en gång
    </li>
</ul>
<h3>Tips 5</h3>
<p>
    Exempel på <i>split</i>:
</p><p>
    <img src="http://i.imgur.com/gHoZMZd.png" alt="gHoZMZd.png">
</p><p>
    Vi ser i exemplet ovan att split är en funktion vi kan anropa på en textsträng och den returnerar en array. Invärdet till split är en textsträng som visar vad ska split dela på. I exemplet har vi "," för att dela på kommatecken.
</p>
<h3>Tips 6</h3>
<ul>
    <li>
        Du kommer behöva en variabel för att lagra vilket djur vi är på, en sorts state för sidan
    </li>
    <li>
        Den variabeln ökas resp minskas när man klickar på knapparna
    </li>
    <li>
        Det kommer behövas en if-sats för att kolla så inte state-variabeln blir för stor eller för liten
    </li>
</ul>

