

@{
    ViewBag.Title = "Tips";
}
<h2>Tips</h2>
<div class="row">
    
    <div class="col-md-4">
        <h3>@Html.ActionLink("AJAX med Texter", "AjaxTextTips", "Home", new { area = "" }, null)</h3>

    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("AJAX med JSON", "AjaxJsonTips", "Home", new { area = "" }, null)</h3>

    </div>
</div>

